.menu {
    background-color: mediumseagreen;
    border: 1px solid green;
    width: 1240px;
}
.menuItem {
    padding: 3px;
    margin: 3px;
    display: inline-block;
}
.routerLinkActiveClass {
    font-weight: bold;  
}
.menuItem > a {    
    text-decoration: none; 
    color: cornsilk; 
}
