<div class="menu">
    <div class="menuItem">
        <a routerLink="login" routerLinkActive="routerLinkActiveClass" *ngIf="!isHasAuth()">Вход</a>
        <a routerLink="login" routerLinkActive="routerLinkActiveClass" *ngIf="isHasAuth()">Выход</a>
    </div>
    <div class="menuItem">
        <a routerLink="edicts" routerLinkActive="routerLinkActiveClass">Указы</a>
    </div>
    <div class="menuItem">
        <a routerLink="profile" routerLinkActive="routerLinkActiveClass">Профиль</a>
    </div>  
</div>