<ng-container *ngTemplateOutlet="inputElement; context: { contentName: 'Указ', value: templateEdictData?.header, type: 'text', change: changeHeader }"></ng-container>
<ng-container *ngTemplateOutlet="inputElement; context: { contentName: 'Описание', value: templateEdictData?.description, type: 'text', change: changeDescription }"></ng-container>
<ng-container *ngTemplateOutlet="inputElement; context: { contentName: 'Кол-во дней', value: templateEdictData?.dayOfComplete, type: 'text', change: changeDays }"></ng-container>
<ng-container *ngTemplateOutlet="inputElement; context: { contentName: 'Дата создания', value: templateEdictData?.dateCreate, type: 'date', change: changeDate }"></ng-container>
<ng-container *ngTemplateOutlet="radioButtonElement; context: {executor: templateEdictData?.executedPerson}"></ng-container>

<div class="templateContent">
    <ng-template #inputElement let-valueItem="value" let-typeItem="type" let-contentName="contentName" let-changeFnc="change">
        <div class="inputElement">{{contentName}}: <input #inputItem [type]="typeItem" [value]="valueItem" (change)="changeFnc(inputItem.value)"></div>
    </ng-template>
    <ng-template #radioButtonElement let-executorItem="executor">
        <label>Исполнитель:</label>
        <div><input type="radio" name="executorType" (click)="selectExecutor('Градостроитель')" [checked]="executorItem == 'Градостроитель'" />
            <span [appStyleType]="'Градостроитель'" >[-]</span> Градостроитель
        </div>
        <div><input type="radio" name="executorType" (click)="selectExecutor('Военачальник')" [checked]="executorItem == 'Военачальник'" />
            <span [appStyleType]="'Военачальник'" >[-]</span> Военачальник
        </div>
        <div><input type="radio" name="executorType" (click)="selectExecutor('Советник')" [checked]="executorItem == 'Советник'" />
            <span [appStyleType]="'Советник'" >[-]</span> Советник
        </div>
        <div><input type="radio" name="executorType" (click)="selectExecutor('Шпион')" [checked]="executorItem == 'Шпион'" />
            <span [appStyleType]="'Шпион'" >[-]</span> Шпион
        </div>
        <div><input type="radio" name="executorType" (click)="selectExecutor('Не назначен')" [checked]="executorItem == 'Не назначен'" />
            <span [appStyleType]="'Не назначен'" >[-]</span> Не назначен
        </div>
    </ng-template>
</div>
<div>
    <input *appUserPermission type="button" [value]="'Сохранить'" style="margin-right: 10px;" (click)="saveTemplate()" />
    <input type="button" [value]="'Отменить'" style="margin-right: 10px;" (click)="closeTemplate()" /> 
</div>