<div style="margin-left: 50px; font-weight: bold;"><p>Королевские указы для короля Ангуляра</p></div>
<input type="button" value="Добавить" style="margin-left: 10px;" (click)="addEdict()">
<app-edict-template [indexEdictData]="stateIndex" [stateEdictData]="isEditState" (addEdictToList)="addEdictToList($event)"></app-edict-template>
<div>
    <app-edict *ngFor="let edict of edicts" [singleEdictData]="edict" 
        (removeEdictFromList)="removeEdictFromList(edict)" 
        (editEdictInList)="editEdictInList(edict)"></app-edict>    
</div>