<!-- MAIN LESSON -->
<ng-container *ngIf="true">
  <app-lesson1></app-lesson1>
</ng-container>


<!-- TEST-PART-->
<!-- LES4 -->
<!-- <div>{{someDate | date}}</div>
<div>{{someDate | date: 'fullTime'}}</div>
<div>{{userReq | json}}</div>
<div>{{userReq.name}} {{userReq.gender | genPipe}}</div>
<div>---</div>
<div *ngFor="let item of (users | filterMan)">{{item.name}} {{item.gender}}</div>
<div>---</div>
<div *ngFor="let item of (users )">{{item.name}} {{changeValue(item.gender)}}</div>
<input type="text" #newUser>
<button (click)="addUser(newUser.value)">Add New</button> -->
<!-- <div *ngFor="let item of (users )">{{item.name}} {{item.gender | genPipe}}</div>
<input type="text" #newUser>
<button (click)="addUser(newUser.value)">Add New Pipe</button> -->

<!-- <div 
  [appStyles]="'blue'"
  (clickChange) = "counter = $event">Стиль директива {{counter}}</div> -->
<!-- <div *appStructD>Структурная директива </div> -->

<!-- <div *ngFor="let item of (users | filterMan)">{{item.name}} {{item.gender | genPipe}}</div>
<input type="text" #newUser>
<button (click)="addUser(newUser.value)">Add New Pipe</button>
<button (click)="clickUnsub()">Unsub</button>

<p *ngFor="let item of o$ | async">Model {{item}}</p> -->

<!-- END LES4 -->


<!--<div *ngIf="isLoad; else loading">
  <app-lesson3ch></app-lesson3ch>
</div> -->

<!-- <div *ngIf="isLoad">
  <app-lesson3ch></app-lesson3ch>
</div> -->

<!-- <app-lesson3p>
  <app-lesson3ch *appStructD></app-lesson3ch>
</app-lesson3p> -->

<!-- <app-lesson3p>
  <app-lesson3ch></app-lesson3ch>
</app-lesson3p>

<ng-container *ngTemplateOutlet="loading; context: {text: '1-data'}"></ng-container>
<ng-container *ngTemplateOutlet="loading; context: {text: '2-data'}"></ng-container>

<ng-template #loading let-text="text">
  <div>Load..{{text}}</div>
</ng-template> -->


<!-- <ng-container *ngIf="false">
  <app-header *ngFor="let item of [1]"></app-header>
  <app-footer *ngIf="false"></app-footer>
</ng-container>

<ng-container *ngIf="false">
  <app-lesson1></app-lesson1>
</ng-container>

<ng-container *ngIf="false">
  <app-lesson3p>Content P</app-lesson3p>
</ng-container>
<ng-container *ngIf="false">
  <app-lesson3ch>Content Ch</app-lesson3ch>
</ng-container>

<app-lesson3p>
  <div ngProjectAs="app-lesson3ch">New Lesson 3</div>
  <ng-container ngProjectAs="app-lesson3ch">
    <app-lesson3ch></app-lesson3ch>
    <app-lesson3ch></app-lesson3ch>
    <app-lesson3ch></app-lesson3ch>
  </ng-container>  
</app-lesson3p> -->