<div [ngClass]="getEdictToSetClass(singleEdict)">
    <input type="checkbox" (change)="selectEdict($event, singleEdict)" style="margin-right: 10px;"/>{{singleEdict.header}}
    <p>{{singleEdict.description}}</p>
    <div *ngIf="getStateOfEdict(singleEdict.state)">
        <p [style.color]="styleColor">{{'Время на выполнение: ' + singleEdict.dayOfComplete}}</p>
    </div> 
    <input type="button" value="Принять к исполнению" (click)="editEdict(singleEdict)" style="margin-right: 10px;" />
    <input type="button" value="Отклонить указ" (click)="removeEdict(singleEdict)"
        style="margin-right: 10px;" [disabled]="singleEdict.state ? false : true"/>   
</div>