<div [ngClass]="singleEdict.isSelectEdictState ? 'selectedEdict' : 'itemEdict'">
    <input type="checkbox"  style="margin-right: 10px;"
        [checked]="singleEdict.isSelectEdictState"
        (change)="selectEdict($event, singleEdict)" />{{singleEdict.header}}
    <p>{{singleEdict.description}}</p>
    <div *ngIf="singleEdict.isSelectEdictState">
        <p [style.color]="styleColor">{{'Дата создания указа: ' + singleEdict.dateCreate}}</p>
        <p [style.color]="styleColor">{{'Время на выполнение: ' + singleEdict.dayOfComplete}}</p>
        <p [style.color]="styleColor">{{'Исполнитель: ' + singleEdict.executedPerson}}</p>
    </div> 
    <input type="button" value="Принять к исполнению"  style="margin-right: 10px;" 
        (click)="editEdict()"/>
    <input type="button" value="Отклонить указ" style="margin-right: 10px;"
        [disabled]="singleEdict.isSelectEdictState ? false : true"
        (click)="removeEdict()"/>   
</div>