<div class="leftFilter"> 
    <input type="radio" [value]="-1" (change)="filterByExecutor('')" [checked]="defaultExecutorFilter == selectedExecutorFilter">
        <span>[-]</span><span> Все</span>
    <div *ngFor="let item of radioButtonDataSource | keyvalue; let i = index">        
        <input type="radio" [value]="item.value" (change)="filterByExecutor(item.value)" [checked]="item.value == selectedExecutorFilter">
        <span>[-]</span><span> {{item.value}}</span>
    </div>    
</div>
<div style="display: inline-block;">    
    <div class="buttonsArea">
        <div class="inputFilter">
            <input #inputFilter placeholder="Поиск" type="text" [formControl]="searchControl" style="width: inherit;">
        </div>
        <div>
            <input type="button" value="Добавить указ" style="margin-left: 10px;" 
                (click)="openTemplateForAddNewEdict()">
            <input *appUserPermission="true" type="button" value="Удалить указ" style="margin-left: 10px;" 
                [disabled] = "!isAnyEdictSelected" 
                (click)="deleteAllSelectedEdict()"> 
            {{loginName}} 
        </div>        
    </div>
    <div class="listOfEdict">
        <app-edict *ngFor="let edict of edicts" #edict
            [singleEdictData]="edict | uppercasetitlePipe" 
            (contextmenu)="openInnerMenu($event)"
            (click)="closeInnerMenu()"
            (removeEdictFromList)="removeEdictFromList(edict)" 
            (sendTemplateForEdit)="openTemplateForEdit(edict)"
            (setSelectState)="selectEdict()">
        </app-edict>
    </div>
    <div class="templateItem">
        <app-template-form #templateForm>
            <app-edict-template #templateEdict
                [edictTemplateData]="templateEdictItem" 
                (sendEdictToSave)="saveEdictToList($event)" 
                (setDefaultDataAndClose)="setDefaultDataAndCloseTemplate()">                
            </app-edict-template>
        </app-template-form>
    </div>
    <app-inner-menu *ngIf="isVisibleInnerMenu" [x]="xMenu" [y]="yMenu" 
        (selectAllEdict)="selectAllEdict()">
    </app-inner-menu>
</div>