.listOfEdict {
    border: 1px solid green;
    margin-top: 10px;
    width: 490px;
    background-color: beige;
    display: inline-block;
}
.templateItem {
    margin-top: 10px;
    padding: 10px;
    width: 490px;
    background-color: beige;
    display: inline-block;
    margin-left: 10px;
    border: 1px solid red; 
    float: right;
}
.buttonsArea {
    margin-top: 10px;
    border: 1px solid goldenrod;   
}
.leftFilter {
    margin: 10px;
    border: 1px solid goldenrod;   
    display: inline-block;
    width: 200px;
    vertical-align: top;
}
.buttonsArea div {
    margin: 5px;    
}
.inputFilter {
    width: 350px;
    margin-left: 10px;
}
